{% extends('/base.html.twig') %}

{% block body %}


    <div class="row">
        <div class="col-md-9">
            <div class="mt-lg-5">
                {#Products#}
                <div class="row">
                {% for data in result %}
                     <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="/uploads/{{ data.image }}" alt="Card image">
                                <div class="card-body">
                                    <h4 class="card-title">{{ data.name }} <small class="text-muted">{{ data.created|ago }}</small> </h4>
                                    <p class="card-text">{{ data.description }}</p>
{#                                    <button onclick="addtocart(/add-to-cart/{{ data.id }} , {{ data.id }})" class="btn btn-primary">Add To Card</button>#}
                                    <a href="/add-to-cart/{{ data.id }}" class="btn btn-primary">Add To Card</a>

                                    <small class="float-right">
                                        {% if is_granted('EDIT' , data) %}
                                            <a href="/product/edit/{{ data.id }}" class="text-primary"><i class=" fas fa-pencil-alt"></i></a>
                                        {% endif %}
                                        {% if is_granted('DELETE' , data) %}
                                            <a href="/product/delete/{{ data.id }}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                        </div>

                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar-item">
            <div class="nav flex-column nav-pills make-me-sticky" id="myTab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="/home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>

                {% for data in category %}
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#{{ data.id }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{ data.name | slice(0,20)}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>

        function addtocart(url , id)
        {
         alert(id);
            $.ajax({
                url: url,
                type: 'get',
                data: {
                    id: id,
                },
                dataType: 'JSON',
                success: function (data) {
                    console.log(data)
                }
            });
        }

    </script>

{% endblock %}

