{% extends '/layout/base.html.twig' %}

{% block title %}Product Record!{% endblock %}

{% block body %}
     {% for message in app.flashes('success') %}
          <div class="alert alert-danger">
               {{ message }}
          </div>
     {% endfor %}
     <div class="card">
          <div class="card-header">
               <header>{{ header   }}</header>
               <a class="btn btn-warning float-right" href="/product">Create</a>
          </div>
          <div class="card-body">
               <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="bg-danger">
                         <th>ID</th>
                         <th>Name</th>
                         <th>Owner</th>
                         <th>Price</th>
                         <th>Stock</th>
                         <th>Category</th>
                         <th>Image</th>
                         <th>Date</th>
                         <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in product %}
                         <tr>
                              <td>{{ data.id }}</td>
                              <td>{{ data.name }}</td>
                              <td>{{ data.user.username }}</td>
                              <td>{{ data.price }}</td>
                              <td>{{ data.stock }}</td>
                              <td>{{ data.category.name }}</td>
                              <td><a href="/uploads/{{ data.image }}" target="_blank"><img src="/uploads/{{ data.image }}" width="50px" alt="image"></a></td>
                              <td>{{ data.created }}</td>
                              <td>
                                   <a href="/product/edit/{{ data.id }}" class="btn btn-primary">Edit</a>
                                   <a href="/product/delete/{{ data.id }}" class="btn btn-danger">Del</a>
                              </td>
                         </tr
                    {% endfor %}
                    </tbody>
               </table>
          </div>

     </div>

{% endblock %}
