{% extends '/layout/base.html.twig' %}

{% block title %}Order Record!{% endblock %}

{% block body %}
     {% for message in app.flashes('danger') %}
          <div class="alert alert-danger">
               {{ message }}
          </div>
     {% endfor %}
     {% for message in app.flashes('success') %}
          <div class="alert alert-success">
               {{ message }}
          </div>
     {% endfor %}
     <div class="card">
          <div class="card-header">
               <header>All Orders</header>
          </div>
          <div class="card-body">
               <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="bg-danger">
                         <th>ID</th>
                         <th>Seller</th>
                         <th>Buyer</th>
                         <th>Total</th>
                         <th>Status</th>
                         <th>Date</th>
                         <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in result %}
                         <tr>
                              <td>{{ data.id }}</td>
                              <td>{{ data.seller.username }}</td>
                              <td>{{ data.user.username }}</td>
                              <td>{{ data.total }}</td>
                              <td>{{ array[data.status] }}</td>
                              <td>{{ data.created }}</td>
                              <td>
                                   <a href="/order/view/{{ data.id }}" class="btn btn-warning">View</a>
                                   <a href="/order/edit/{{ data.id }}" class="btn btn-primary">Edit</a>
                                   <a href="/order/delete/{{ data.id }}" class="btn btn-danger">Del</a>
                              </td>
                         </tr
                    {% endfor %}
                    </tbody>
               </table>
          </div>

     </div>

{% endblock %}
